// 布局样式
@use './layout';

// 布局菜单样式
@use './menu';

// vxe-table样式
@use './vxe-table';

// 补充动画
@use './transition';

@font-face {
  font-family: 'DingTalk JinBuTi';
  src: url('../assets/fonts/DingTalk JinBuTi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// * {
//   font-family: 'DingTalk JinBuTi';
// }
